<header>
  <h1>Angular Pipes</h1>
</header>

<label>
  Enter Some Text
  <input [(ngModel)]="userText" type="text" placeholder="Blah blah..." />
</label>

<h2>Your Text</h2>
<p>{{userText}}</p>

<h2>Uppercase</h2>
<p>{{userText | uppercase}}</p>

<h2>Lowercase</h2>
<p>{{userText | lowercase}}</p>

<h2>Emojfied</h2>
<p>{{userText | emojify}}</p>

<hr />

<app-crypto-tracker></app-crypto-tracker>

<hr />

<app-date-changer></app-date-changer>

<hr />

<app-benicio></app-benicio>

<hr />

<footer>
  <p>Made with 🧀 at Ironhack</p>
</footer>
